.nav-bar {
    background: $nav-bar-bg-color;

    a {
        color: $nav-bar-fg-color;
        display: block;
        text-decoration: none;
    }

    .brand {
        float: left;

        a {
            padding: 10px 14px;
        }

        &:hover {
            background: $nav-bar-el-hover-bg-color;
        }
    }

    .nav-menu {
        float: left;

        ul {

            li {
                float: left;

                a {
                    padding: 14px 14px;

                    &:hover {
                        background: $nav-bar-el-hover-bg-color;
                    }
                }

                .btn-nav-menu {
                    background: $nav-menu-btn-bg-color;
                    padding: 8px;
                    margin: 6px;
                    border-radius: 4px;
                    font-weight: bold;

                    &:hover {
                        background: $nav-menu-btn-hover-bg-color;
                    }                    
                }

            }

            &:after {
                content: "";
                clear: both;
                display: table;
            }
        }
    }

    .user-logout {
        float: right;

        a {
            padding: 14px 14px;
        }


        &:hover {
            background: $nav-bar-el-hover-bg-color;
        }       
    }

    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

.container {
    width: 100%;
    border: solid 1px $content-sidebar-border-bg-color;
    border-radius: 4px;
    display: block;
    overflow:hidden;
    padding: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}

input[type=text], input[type=number] {
    box-sizing: border-box;
    border: 1px solid $content-sidebar-border-bg-color;
    font-size: 14px;
    line-height: 1.28571429;
    height: 28px;
    border-radius: 3px;
    padding: 4px;
    
}

select {
    box-sizing: border-box;
    border: 1px solid $content-sidebar-border-bg-color;
    font-size: 14px;
    line-height: 1.28571429;
    height: 28px;
    border-radius: 3px;
    padding: 4px;    
    background: white;
}

form {

    .form-field {
        border-bottom: dotted 1px $content-sidebar-border-bg-color;
        padding: 2px 0px;

        label {
            width: 140px;
            text-align: left;
            margin: 0px 10px 0px 0px;
            display: inline-block;
            padding: 10px;
            //border-right: dotted 1px $content-sidebar-border-bg-color;
        }
        
        input, select, textarea {
        }

        &:last-child {
            border: none;
        }
    }

}

.tbl {
    width: 100%;
    border: solid 1px $content-sidebar-border-bg-color;
    border-radius: 4px;
    display: block;

    .tbl-row {
        display: flex;
        border-bottom: solid 1px $content-sidebar-border-bg-color;

        .tbl-col {
            width: 100%;
            padding: 12px;
        }

        .tbl-col-small {
            width: 32px;
        }

        .tbl-col-icon {
            width: 142px;
            padding: 17px 12px; 
        }

        &:last-child {
            border: none;
        }

        &:hover {
            background: $content-sidebar-bg-color;
        }
    }

    .tbl-header {
        background: $content-sidebar-bg-color;
        font-weight: bold;
    }  

    a {
        text-decoration: none;
        color: $main-font-color;
    }

}

.sidebar-menu {
    color: $sidebar-font-color;

    .sidebar-menu-group {

        .header {
            border-top: solid 1px $content-sidebar-border-bg-color;
            font-weight: bold;
            margin: 10px 15px;
            padding: 15px 0px 5px 0px; 
        }

        &:first-child {
            .header {
                border-top: none;
            }

        }        
    }

    .sidebar-menu-action {

        a {
            display: inline-block;
            padding: 10px 15px;
            width: 100%;
            text-decoration: none;
            color: $sidebar-font-color;

            -moz-box-sizing: border-box;
            box-sizing: border-box;

            span {
                padding-right: 15px;
            }
        }

        &:hover {
            background: $sidebar-action-bg-hover-color;
        }
    }
}

.content-editor {
    min-height: 100%;
    width: 100%;
    position: relative;

    .content-sidebar {
        position: absolute;
        width: 280px;
        z-index: 1;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        top: 0;
        height: 100%;

        background: $content-sidebar-bg-color;
        border-right: solid 1px $content-sidebar-border-bg-color;
    }

    .content-body-wrapper {
        height: 100%;
        width: 100%;
        padding-left: 280px;
        position: relative;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        .content-body {
            width: 100%;
            padding: 20px;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            > .header {
                padding-bottom: 20px;
            }
        }        
    }

}

.popup {
    transform: scale(0.8);
    background: white;
    min-width: 40%;
    border-radius: 4px;
    overflow: hidden;
    border: solid 1px $content-sidebar-border-bg-color;

    .popup-header {
        border-bottom: solid 1px $content-sidebar-border-bg-color;
        padding: 10px;
        font-size: 1.2em;
    }

    .popup-content {
        padding: 10px;
    }

    .popup-footer {
        border-top: solid 1px $content-sidebar-border-bg-color;
        padding: 10px;
    }
}
.popup_visible .popup {
    transform: scale(1);
}

.btn {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: $btn-bg-color;
    border: 1px solid $btn-border-bg-color;
    border-radius: 4px;
    color: $btn-fg-color;
    cursor: pointer;
    display: inline-block;
    font-size: $btn-font-size-color;
    margin: 0;
    padding: 4px 10px;
    white-space: nowrap;
    
    &:hover {
        border-color: $btn-border-hover-bg-color;
    }
}