@import 'reset';
@import 'theme';
@import 'elements';
@import 'glyphicon';

@font-face {
    font-family: 'robotoregular';
    src: url('/public/fonts/roboto-regular.eot');
    src: url('/public/fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/roboto-regular.woff') format('woff'),
        url('/public/fonts/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: robotoregular, sans-serif, Arial;
    color: $main-font-color;
    font-weight: 300;
    height: 100%;
}

body {
   overflow: hidden; 
}

.wrapper {
    height: 100%;
}

.content-wrapper {
    height: 100%;
}

.remove-row-action {
    cursor: pointer;
    
    &:hover {
        color: red;
    }
}

.orderlist {
    margin-top: 20px;
}