@import 'reset';

@font-face {
    font-family: 'robotoregular';
    src: url('/public/fonts/roboto-regular.eot');
    src: url('/public/fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/roboto-regular.woff') format('woff'),
        url('/public/fonts/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: robotoregular, sans-serif, Arial;
    font-weight: normal;
    font-size: 12px;
}

.date {
    text-align: right;
    padding: 10px 5px;
}

.tbl {
    width: 100%;
    border: solid 1px black;
    display: block;

    > * {
        border-bottom: solid 1px black;

        &:last-child {
            border: none;
        }        
    }

    .tbl-row {
        display: flex;
        border-bottom: solid 1px black;

        .tbl-col {
            width: 100%;
            padding: 3px;
            border-right: solid 1px black;

            &:last-child {
                border: none;
            }
        }

        .tbl-col-small {
            width: 32px;
        }

        .tbl-col-icon {
            width: 142px;
            padding: 17px 3px; 
        }

        &:last-child {
            border: none;
        }

    }
    
    .color-group {
        
        .tbl-row:first-child {
            background: #EEE;
            color: red;
        }
        
    }

    .tbl-header {
        font-weight: bold;
    }  

    a {
        text-decoration: none;
    }

}