//Navbar top
$nav-bar-bg-color: #205081;
$nav-bar-fg-color: white; 
$nav-bar-el-hover-bg-color: #3572B0;

$nav-menu-btn-bg-color: #3572B0;
$nav-menu-btn-hover-bg-color: #2a67a5;

$content-sidebar-bg-color: #f5f5f5;
$content-sidebar-border-bg-color: #ccc;

$main-font-color: #333333;

//Sidebar
$sidebar-font-color: #707070;
$sidebar-action-bg-hover-color: #E6E6E6;

//Button
$btn-bg-color: #f5f5f5;
$btn-border-bg-color: #ccc;
$btn-border-hover-bg-color: #aaa;
$btn-fg-color: #333;
$btn-font-size-color: 1.1em;