/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'robotoregular';
  src: url("/public/fonts/roboto-regular.eot");
  src: url("/public/fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/roboto-regular.woff") format("woff"), url("/public/fonts/roboto-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html, body {
  font-family: robotoregular, sans-serif, Arial;
  font-weight: normal;
  font-size: 12px; }

.date {
  text-align: right;
  padding: 10px 5px; }

.tbl {
  width: 100%;
  border: solid 1px black;
  display: block; }
  .tbl > * {
    border-bottom: solid 1px black; }
    .tbl > *:last-child {
      border: none; }
  .tbl .tbl-row {
    display: flex;
    border-bottom: solid 1px black; }
    .tbl .tbl-row .tbl-col {
      width: 100%;
      padding: 3px;
      border-right: solid 1px black; }
      .tbl .tbl-row .tbl-col:last-child {
        border: none; }
    .tbl .tbl-row .tbl-col-small {
      width: 32px; }
    .tbl .tbl-row .tbl-col-icon {
      width: 142px;
      padding: 17px 3px; }
    .tbl .tbl-row:last-child {
      border: none; }
  .tbl .color-group .tbl-row:first-child {
    background: #EEE;
    color: red; }
  .tbl .tbl-header {
    font-weight: bold; }
  .tbl a {
    text-decoration: none; }

/*# sourceMappingURL=print.css.map */
